.conteudo {
  display: grid;
  grid-template-columns: minmax(220px, 20%) 1fr;
  color: var(--main-texto-cor);
  font-family: "Courier New", Courier, monospace;
}
.perfil-caixa {
  background-color: var(--bio-bg-cor);
  text-align: center;
  padding: 1.875rem 0.75rem;
  border: solid 5px var(--bio-borda-cor);
  min-height: 100vh;
}
.perfil-foto {
  border-radius: 50%;
  margin-bottom: 1.563rem;
}
.perfil-nome,
.perfil-descricao {
  margin-bottom: 1.563rem;
}
.perfil-descricao + .perfil-descricao {
  font-weight: bold;
}
.contato-caixa {
  overflow: hidden;
}
.img-email {
  position: relative;
  background-color: #1e2a3a;
  z-index: 1;
}
.contato-caixa a {
  display: flex;
  width: max-content;
  align-items: center;
  margin-top: 0.938rem;
  gap: 0.313rem;
  font-size: 0.938rem;
  color: var(--main-texto-cor);
}
.detalhe {
  color: var(--main-cor);
}
.sobre-caixa {
  background-color: var(--sobre-bg-cor);
  padding: 3.125rem;
}
.sobre-nome {
  font-size: 2.625rem;
  margin-bottom: 0.938rem;
}
.sobre-titulo {
  font-size: 1.5rem;
  margin-bottom: 0.938rem;
  font-weight: bold;
}
.sobre-caixa p {
  max-width: 75%;
  margin-bottom: 0.625rem;
}
.botao-projetos {
  display: flex;
  font-size: 1rem;
  padding: 0.75rem 0.625rem;
  background-color: var(--main-cor);
  border: 0.125rem solid var(--main-cor);
  width: max-content;
  color: var(--main-texto-cor);
  border-radius: 0.313rem;
  margin: 1.563rem 0px;
  gap: 0.313rem;
  font-weight: bold;
  transition: 0.5s;
  align-items: center;
}
.botao-projetos:hover {
  background-color: transparent;
}
.sobre-titulo-habiliades {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  padding-top: 1.25rem;
}
.conteudo-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 2.188rem 0.625rem;
}
.conteudo-caixa div {
  display: grid;
  gap: 0.625rem;
  grid-template-columns: repeat(auto-fit, minmax(45px, auto));
}
.item-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 0.625rem;
  grid-column: 1 / -1;
  border-left: 0.313rem solid var(--main-cor);
}
.conteudo-caixa i {
  font-size: 2.813rem;
}
