@media (max-width: 630px) {
  .conteudo-caixa div {
    width: max-content;
  }
}

@media (max-width: 450px) {
  html{
    font-size: 0.875rem;
  }
  .conteudo {
    display: flex;
    flex-direction: column;
  }
  .perfil-caixa {
    min-height: auto;
    border: none;
    border-bottom: 0.313rem solid var(--bio-borda-cor);
  }
  .sobre-nome {
    display: none;
  }
  .sobre-caixa {
    padding: 3.125rem 1.25rem;
    text-align: center;
  }
  .botao-projetos {
    margin: 1.25rem auto;
  }
  .sobre-caixa p {
    max-width: 100%;
  }
}

@media (max-width: 340px) {
  html{
    font-size: 0.625rem;
  }
  .conteudo-caixa div{
    grid-template-columns: 1fr 1fr;
  }
}
